html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; /* Prend tout l'espace disponible entre le header et le footer */
  padding: 110px;
}

.navbar {
  width: 100%;
  z-index: 1000;
}
.navbar-logo {
  height: 90px; 
  width: auto; 
}

.map-container {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-label {
  font-weight: bold;
}

.btn-danger {
  margin-top: 10px;
}


.footer {
  width: 100%;
}
